<div class="max">
  <h1 class="my-6 text-center">Listing Rooms</h1>

  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>created_by</th>
        <th>force_project_template_id</th>
        <th>free_flow</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
  <%= for room <- @rooms do %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.created_by %></td>
        <td><%= room.force_project_template_id %></td>
        <td><%= room.free_flow %></td>

        <td>
          <button><%= link "Show", to: Routes.room_path(@conn, :show, room) %></button>
          <button><%= link "Edit", to: Routes.room_path(@conn, :edit, room) %></button>
          <button><%= link "Delete", to: Routes.room_path(@conn, :delete, room), method: :delete, data: [confirm: "Are you sure?"] %></button>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>

  <button><%= link "New Room", to: Routes.room_path(@conn, :new) %></button>

</div>
