<div class="max">
  <h1 class="my-6 text-center">Show User</h1>

  <ul>

    <li>
      <strong>Name:</strong>
      <%= @user.name %>
    </li>

    <li>
      <strong>Email:</strong>
      <%= @user.email %>
    </li>

    <li>
      <strong>Current Room:</strong>
      <%= @user.current_room_id %>
    </li>

    <li>
      <strong>Confirmed at:</strong>
      <%= @user.confirmed_at %>
    </li>

  </ul>

  <button><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></button>
  <button><%= link "Back", to: Routes.user_path(@conn, :index) %></button>
</div>
