<div class="">

    <h1 class="mt-8">Coach</h1>

    <h2 class="mt-8">Rooms <sup><%= length(@rooms) %></sup></h2>
    <%= for room <- @rooms do %>
        <a href={ Routes.teacher_mission_path(@conn, :index, room.id) }>
            <div class="flex flex-col md:flex-row hover:bg-gray-900 p-2">
                <p class="w-60"><%= room.username %></p>
                <p class="w-80"><%= room.name %></p>
                <p class="w-20"><%= room.inserted_at.year %>-<%= room.inserted_at.month %>-<%= room.inserted_at.day %></p>
            </div>
        </a>
    <% end %>

    <h2 class="mt-8">Projects <sup><%= length(@projects) %></sup></h2>
    <%= for project <- @projects do %>
        <a href={ if is_nil(project.room_id), do: Routes.teacher_mission_path(@conn, :project, project.project_id), else: Routes.teacher_mission_path(@conn, :index, project.room_id, project.project_id) }>
            <div class="flex flex-col md:flex-row hover:bg-gray-900 p-2">
                <p class="w-60"><%= project.username %></p>
                <p class="w-80"><%= project.room_name %></p>
                <p class="w-52"><%= project.title %></p>
                <p class="w-20"><%= project.last_updated_at.year %>-<%= project.last_updated_at.month %>-<%= project.last_updated_at.day %></p>
                <p class="w-6"><%= Map.get(project, :ready_next) && "✅" || "" %></p>
                <p class="w-6"><%= Map.get(project, :asking_help) && "🆘" || "" %></p>
                <p class="w-6"><%= Map.get(project, :chat_unread) && "💬" || "" %></p>
                <p class="w-6"><%= Map.get(project, :has_updates) && "🔵" || "" %></p>
                <hr class="md:hidden">
            </div>
        </a>
    <% end %>
</div>
