<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="flex flex-col max-w-xl m-auto my-10">

    <%= label f, :created_by %>
    <%= text_input f, :created_by %>
    <%= error_tag f, :created_by %>

    <%= label f, :project_template_id %>
    <%= text_input f, :project_template_id %>
    <%= error_tag f, :project_template_id %>

    <%= label f, :room_id %>
    <%= text_input f, :room_id %>
    <%= error_tag f, :room_id %>

    <%= label f, :inserted_at %>
    <%= text_input f, :inserted_at %>
    <%= error_tag f, :inserted_at %>

    <div>
      <%= label f, :free_flow %>
      <%= checkbox f, :free_flow %>
      <%= error_tag f, :free_flow %>
    </div>

    <%= submit "Save" %>

  </div>

<% end %>
