<div class="max">
  <h1 class="my-6 text-center">Listing Courses</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Project templates</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
  <%= for course <- @courses do %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.project_templates %></td>

        <td>
          <button><%= link "Show", to: Routes.course_path(@conn, :show, course) %></button>
          <button><%= link "Edit", to: Routes.course_path(@conn, :edit, course) %></button>
          <button><%= link "Delete", to: Routes.course_path(@conn, :delete, course), method: :delete, data: [confirm: "Are you sure?"] %></button>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>

  <button><%= link "New Course", to: Routes.course_path(@conn, :new) %></button>
</div>
