@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/nprogress/nprogress.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}


@layer base {

  body {
    @apply bg-gray-800 text-white;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  button {
    @apply bg-indigo-500 p-1 px-2 m-1 rounded hover:bg-indigo-400 focus:outline-none whitespace-nowrap;
  }
  button:disabled {
    @apply bg-gray-900 text-gray-400 cursor-not-allowed;
  }
  button.btn-tab {
    @apply bg-gray-900 mb-0 text-gray-400 hover:bg-gray-600 rounded-only-t;
  }
  button.btn-tab:disabled {
    @apply bg-gray-700 mb-0 text-gray-200 cursor-not-allowed;
  }
  textarea, input, select {
    @apply text-black bg-indigo-100 rounded border-2 border-blue-500 p-2;
  }

  .home > section {
    @apply mx-auto;
  }

  .home > section > div {
    @apply max-w-screen-lg py-20 px-5 m-auto block text-center;
  }

  .max {
    @apply max-w-screen-xl m-auto;
  }

  .rounded-only-t {
    border-radius: 5px 5px 0px 0px;
  }

  .invalid-feedback {
    @apply text-red-400 block;
  }

}

@layer utilities {
  .grid-rows-3-min {
    grid-template-rows: repeat(3, 100%);
  }
  .grid-rows-2-min {
    grid-template-rows: repeat(2, 100%);
  }
}

[hidden] {
  display: none !important;
}

.ace-editor-highlight {
  position: absolute;
  background: rgb(50,70,60);
}
