<main class="w-screen home">
    <section>
        <div>
            <h1>#100DaysOfCode Statistics</h1>
            <p>Who's been actively tweeting about their #100DaysOfCode progress? Who's quit?</p>
            <div class="text-left mb-6">
                <h3 style="margin: 0">Legend</h3>
                <p class="text-indigo-100" style="margin: 0">Student updated in the last 48h</p>
                <p class="text-red-300" style="margin: 0">Student hasn't updated for a week</p>
            </div>
            <%= for {day, tweet_ids_active, tweet_ids_quit} <- @stats do %>
                <div class="relative h-10">
                    <p class="text-white absolute top-0 pl-2 whitespace-nowrap" style="margin: 0; transform: translateX(-110%);">Day <%= day %></p>
                    <div class="relative text-left">
                        <div class="bg-indigo-100 inline-block overflow-hidden" style={"width: #{ (length(tweet_ids_active) || 0) / @max * 99 }%; min-height: 2rem;"}>
                            <p class="text-gray-800 pl-2 whitespace-nowrap" style="margin: 0;"><%= length(tweet_ids_active) %> users</p>
                        </div>
                        <div class="bg-red-300 inline-block overflow-hidden" style={"width: #{ (length(tweet_ids_quit) || 0) / @max * 99 }%; min-height: 2rem;"}>
                            <p class="text-gray-800 pl-2 whitespace-nowrap" style="margin: 0;"><%= length(tweet_ids_quit) %> users</p>
                        </div>
                    </div>
                </div>
            <% end %>
            <h3>These users have completed their journey!</h3>
            <%= for tweet_id <- @stats |> List.last() |> elem(1) do %>
                <p><a href={"https://twitter.com/gusthema/status/#{ tweet_id }"}><%= tweet_id %></a></p>
            <% end %>
        </div>
    </section>
</main>
