<div class="max">
  <h1 class="my-6 text-center">Edit Course project</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.project_template_path(@conn, :update, @project_template)) %>

    <button><%= link "Back", to: Routes.project_template_path(@conn, :index) %></button>
</div>
